/*
# name / tag selector
# id selector 
# class selector 
# attribute selector
# pseudo selector
 */

 body {

 }

 #hello {

 }
 .world {

 }
[href="http://google.com"]  {

}
a:hover {

}
input:focus {

}
input:blur {
  
}

